@Layout  = null;

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <script async src="//jsfiddle.net/kyledudley/kyxtc8wn/embed/result/"></script>
</body>
</html>