@{ Layout = null; }
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
</head>
<body>
	<div style="width: 25%; margin-left: 37.5%; margin-top: 10%;">
		<h3>Thank you for completing this brief questionnaire!</h3>
		<div>
			<div>We will compile your responses and share what we learn along with next steps as soon as practicable.</div>
			<br />
			<div>We may administer additional questionnaires in the future to ensure we have the most up-to-date data.</div>
		</div>
	</div>
</body>
</html>

