@{
	Layout = "_LayoutTest";
}
<div id="main-hero" class="row">
	<div class="col-xl-6 col-md-12 col-xs-12" id="corona-hero">
		<div id="hover-corona-hero">
			<div id="corona-message">
				Get the latest news
			</div>
		</div>
		<div id="badge-corona-hero">
			<i class="fas fa-shield-virus"></i> COVID-19 News
		</div>

	</div>
	<div class="col-xl-6 col-md-12 col-xs-12 row quad active" id="quad-box">
		<div class="quad-box-parent col">
			<div class="col" id="quad-box-1">

				<p class="label-white">
					<img style="height: 50px;" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/358566/microsoft.jpg" />
				</p>
			</div>
			<div class="col" id="quad-box-2">
				<p class="label-citrix">
					<img src="https://www.citrix.com/content/dam/citrix61/en_us/images/logos/citrix/citrix-logo-reverse.png" />
				</p>
			</div>
		</div>
		<div class="quad-box-parent col">
			<div class="col" id="quad-box-3">
				<video src="https://ak1.picdn.net/shutterstock/videos/26875981/preview/stock-footage-abstract-neon-ball-made-from-lines.webm" autoplay loop style="transform: scale(1.3); position: relative; top:35px;"></video>
				<p class="label-dark">Intranet</p>
			</div>
			<div class="col" id="quad-box-4">

				<p class="label-dark">Zoom</p>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-md-12 col-xs-12 row quad" style="display: none; position: relative; right: -100px;" id="quad-box">
		<div class="quad-box-parent col">
			<div class="col" id="quad-box-5">

				<p class="label-very-dark">Benefits</p>
			</div>
			<div class="col" id="quad-box-6">
				<p class="label">
					Workforce Now
				</p>
			</div>
		</div>
		<div class="quad-box-parent col">
			<div class="col" id="quad-box-7">
				<video src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/358566/Concur.mp4" autoplay muted loop style="transform: scale(1.3); position: relative; top:35px;"></video>
				<p class="label-dark">Expenses</p>
			</div>
			<div class="col" id="quad-box-8">
				<p class="label-black">Invoice Approvals</p>
			</div>
		</div>
	</div>
</div>
<div id="section1">

</div>

<script src="~/test/testscript.js"></script>
