
<div class="az-content az-content-dashboard">
    <div class="container">
        <div class="az-content-body">
            <div class="row">
                <div class="table-div" style="margin-top: 30px;">
                    <div class="table-div-child" style="width: 550px;">
                        <table>
                            <tbody id="header-body">
                                <tr>
                                    <th style="width: 150px; padding: 10px;">User</th>
                                    <th style="width: 100px; padding: 10px;">Department</th>
                                    <th style="width: 100px; padding: 10px;">Access</th>
                                    <th style="width: 100px; padding: 10px;">Region</th>
                                    <th style="width: 75px; padding: 10px;">&nbsp;</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-div-child">
                        <div style="height: 600px; width: 550px; overflow-y: auto;">
                            <table>
                                <tbody id="table-records"></tbody>
                            </table>
                        </div>
                    </div> <!-- table-responsive -->
                </div>
                <div class="col" style="padding-left: 40px;">
                    <h4 style="margin-top: 35px; width: 100%; text-align: center;">Add User / Access</h4>
                    <div class="input-group" style="margin-top: 10px;">
                        <label class="form-label" style="font-size: 13px; margin-bottom: 2px; font-weight: 400; color: #97a3b9; width: 100%;">Email</label>
                        <input class="form-control" id="email" type="email" />
                    </div>
                    <br />
                    <div class="input-group">
                        <label class="form-label" style="font-size: 13px; margin-bottom: 2px; font-weight: 400; color: #97a3b9; width: 100%;">Department</label>
                        <select class="form-control" id="department">
                            <option label="Choose One"></option>
                            <option value="All">All</option>
                            <option value="10">Federal Advocacy</option>
                            <option value="15">Advocacy Office</option>
                            <option value="20">State Government Advocacy</option>
                            <option value="30">International Advocacy</option>
                            <option value="40">Alliance</option>
                            <option value="50">Public Affairs</option>
                            <option value="60">Policy & Research & Membership</option>
                            <option value="70">Law</option>
                            <option value="80">SRA</option>
                            <option value="90">CEO Office</option>
                            <option value="91">Accounting/Finance</option>
                            <option value="92">IT</option>
                            <option value="93">Facilities & AV</option>
                            <option value="94">Human Resources</option>
                            <option value="95">Gen Admin</option>
                            <option value="96">Meetings</option>
                        </select>
                    </div>
                    <br />
                    <div class="input-group">
                        <label class="form-label" style="font-size: 13px; margin-bottom: 2px; font-weight: 400; color: #97a3b9; width: 100%;">Access</label>
                        <select class="form-control" id="access">
                            <option value="Users">Users</option>
                            <option value="All">All</option>
                        </select>
                    </div>
                    <br />
                    <div class="input-group">
                        <label class="form-label" style="font-size: 13px; margin-bottom: 2px; font-weight: 400; color: #97a3b9; width: 100%;">Region</label>
                        <select id="region" class="form-control">
                            <option value="None">None</option>
                            <option value="Region 1">Region 1</option>
                            <option value="Region 2">Region 2</option>
                            <option value="Region 3">Region 3</option>
                            <option value="Region 4">Region 4</option>
                            <option value="Region 5">Region 5</option>
                            <option value="Region 6">Region 6</option>
                            <option value="Region 7">Region 7</option>
                            <option value="Region 8">Region 8</option>
                            <option value="Region 9">Region 9</option>
                            <option value="Region 10">Region 10</option>
                            <option value="Region 11">Region 11</option>
                            <option value="Region 12">Region 12</option>
                        </select>
                    </div>
                    <div class="input-group" style="margin-top: 20px;">
                        <button id="SubmitUser" class="btn btn-block btn-az-primary">Submit</button>
                    </div>
                </div>
            </div>
            

        </div><!-- az-content-body -->
    </div><!-- container -->
</div><!-- az-content -->
<script src="../azia/lib/jquery/jquery.min.js"></script>
<script src="../assets/js/plugins/sweetalert2.js"></script>
<script>
    $(document).ready(function () {
        (function GetUsers() {
            $.get({
                url: '../Finance/GetFinanceReportingUsers',
                success: function (data) {

                    var html = ``;
                    $.each(data, function (k) {
                        html += `<tr style="font-size: 0.9em !important; padding: 10px; border-top: 0.5px solid lightgrey; border-bottom: 0.5px solid lightgrey;">`;
                        html += `<td style="width: 150px !important; padding: 10px;">` + data[k]["username"].toString().replace("@@phrma.org", "") + `</td>`;
                        html += `<td style="width: 100px; padding: 10px; text-align: center;">` + data[k]["departmentId"] + `</td>`;
                        html += `<td style="width: 100px; padding: 10px;">` + data[k]["securityUsers"] + `</td>`;
                        html += `<td style="width: 100px; padding: 10px;">` + data[k]["region"] + `</td>`;
                        html += `<td style="width: 75px; padding: 10px;"><span class="delete-user badge badge-danger" style="cursor: pointer;" lineId="` + data[k]['id'] + `">Delete</span></td>`;
                        html += `</tr>`;
                    });

                    $('#table-records').html(html);

                    $('.delete-user').click(function () {
                        var lineId = $(this).attr('lineId').toString();
                        Swal.fire({
                            title: 'Are you sure?',
                            text: "Delete Access",
                            type: 'warning',
                            showCancelButton: true,

                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Delete'

                        }).then((result) => {
                            if (result.value) {
                                (function DeleteUser(id) {
                                    var URL = '../Finance/DeleteFinanceReportingUsers?id=' + id;
                                    $.ajax({
                                        url: URL,
                                        type: 'DELETE',
                                        success: function (data) {
                                            GetUsers();
                                        }
                                    });
                                })(lineId);
                            }
                        });
                        // End Sweet Alert
                    });

                  
                }
            });
        })();

        //var margin = ((parseInt($('.table-div').css('width').replace("px", "")) - 550) / 2).toString() + "px";
        //$('.table-div-child').css('margin-left', margin);
        //$(window).resize(function () {
        //    var margin = ((parseInt($('.table-div').css('width').replace("px", "")) - 550) / 2).toString() + "px";
        //    $('.table-div-child').css('margin-left', margin);
        //});
        $('#SubmitUser').click(function () {
            var email = $('#email').val().toString().toLowerCase();
            var department = $('#department').val().toString();
            var access = $('#access').val().toString();
            var region = $('#region').val().toString();
            if (department != "" && email != "" && email.indexOf("@@") != -1 && email.indexOf(".") != -1) {
            var newUserURL = '../Finance/AddFinanceReportingUser?email=' + email + '&department=' + department + '&access=' + access + '&region=' + region;
                $.get({
                    url: newUserURL,
                    success: function (data) {
                        if (data == "OK") {
                            Swal("User Added!")
                            window.location.href = '../Finance/Admin';
                        } else if (data == "FAILURE") {
                            Swal("User/Access already exists!")
                        }
                    }
                });
            } else {
                Swal("Error!");
            }
        });
    });
</script>


